{% extends "admin/change_list.html" %}
{% load humanize %}

{% block result_list %}
<div class="results">
  <table>
    <thead>
      <tr>
        <th>
          <div class="text"><a href="#">Project</a></div>
        </th>
        <th>
          <div class="text"><a href="#">Total Hours</a></div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
        <tr class="{% cycle 'row1' 'row2' %}">
          <td>{{ row.project }}</td>
          <td>{{ row.total_hours|intcomma }}</td>
        </tr>
      {% endfor %}
      <tr style="font-weight:bold; border-top:2px solid #ddd">
        <td>Total</td>
        <td>{{ summary_total.total_hours|intcomma }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
